.booth {
	width: 500px;
	background:#ccc;
	border:5px solid #95a5a6;
	margin:0 auto;
}
body {
	margin: 5px;
	background-color: #dcdde1;
}
.intro {
	color: black;
	font-size: 15px;
	margin: 5px;
	border: 2.5px solid #95a5a6;
}
.credits {
	color: black;
	font-size: 15px;
	margin: 2px;	
}
